{% extends 'content_base.html.twig' %}

{% block title %}Manage comments{% endblock %}
{% block conten_class %}{{ parent() }} show-article-container-border-green{% endblock %}

{% block content_body %}
    <div class="row">
        <div class="col-sm-12">
            <hi>Manege comments</hi>
        </div>
    </div>
{% endblock %}
